<div class="search-bar">
    
{{#each this }}
<h2 >{{name}}</h2>
  <div class="  " >

<div class="card">
  <img class="card-img-top" src="#" alt="productimage"></div>
  <div class="card-body"> <h4>Product Title:{{name}} </h4>
<p>{{description}}</p>
<p>Price:{{price}}</p>
<p>Contact:{{user.username}}</p>
<p>Email:{{user.email}}</p>
</div>
</div>
