<div class="card-container">
    <div class="card-ribbon">
        <p>EOFY Discount</p>
    </div>
    <div class="card-img">
        <img src="https://bit.ly/3Gd7YOP" />
    </div>
    <div class="card-content">
        <h4>Product Title:{{model}} </h4>
        <p>Color: {{color}}</p>
        <p>Year :{{year}}</p>
        <p>License plate:{{license_plate}}</p>
        <p>Restration Due:{{registration_expiration}}</p>
        <p>Insurance Due:{{insurance_expiration}}</p>
        <p>Price :{{price}}</p>
        <p>Contact:{{user.username}}</p>
        <p>Email:{{user.email}}</p>
    </div>
    <button id="deletebtn">Delete</button>
</div>
<script src="js/deletevehicle.js"></script>